{
  "presets": [
    "babel-preset-react",
    ["babel-preset-es2015", {"modules": false}]
  ],
  "env": {
    "server": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": ["es2015", "next/babel"]
    }
  }
}


