/*Base and Resets*/

body {
  font-family: Raleway;
  min-width: 790px;
}

html, body, h1, div, input, p, button {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
}

.container {
  border-top: 1px solid grey;
  width: 75%;
  margin: 30px;
  margin-top: 10px;
  width: 600px;
}

/*Text*/

h1 {
  margin-left: 30px;
}

h3 {
  color: purple;
}

/*Buttons*/

.hover {
  border: 1px solid grey;
  padding: 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}

.hover:hover {
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

.hover:active {
  border: 1px solid lightgreen;
  color: lightgreen;
}

/*Header and Footer*/

header, footer {
  background-color: black;
  color: white;
  padding: 15px;
  width: 100%;
}

footer {
  bottom: 0;
  position: fixed;
}

#hamburger {
  background-image: url('../images/hamburger.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px 0 0 30px;
  height: 40px;
  width: 40px;
}

#hamburger:hover {
  cursor: pointer;
}

/*Forms*/

#forms {
  display: flex;
  padding-bottom: 30px;
}

#forms .left{
  margin-right: 91px;
}

input {
  line-height: 1.5;
  font-family: Raleway;
  font-size: 16px;
  margin: 5px 0 10px 0;
  padding: 5px;
  width: 250px;
}

#searchButton {
  margin-top: 15px;
}

#showAllButton {
  margin-top: 129px;
}

#addButton {
  margin-top: 30px;
}

/*Results*/

#results {
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin-bottom: 350px;
  width: 100%;
}

#searchMessage {
  margin: 30px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
}

#cards .card {
  background-color: #d3d3d3;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 260px;
  overflow: hidden;
}

.locationCard {
  background-image: url('../images/pin.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px 10px 0 5px;
  height: 16px;
  width: 16px;
}

#return {
  border: none;
  display: block;
  width: 600px;
}



